.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background: #f7c08a;
  color: #333;
}
.btn-light{
  background: #f4f4f4;
  color:#333;
}
.bg-dark {
  background: #333;
  color: #fff;
}
.bg-light {
  background: #f4f4f4;
  color: #333;
}
.box{
  width: 33.3%;
   float: left;
/*  background: #e7e5e5; */
  text-align: center;
  padding: 50px ;
}
.box i {
margin-bottom: 10px;
}
 l-heading {
  font-size: 40px;
}
#contact-form .form-group{
  margin-bottom: 20px;
}
#contact-form label{
  display: block;
  margin-bottom: 5px;
}
#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
}
#contact-form textarea {
  height: 200px;
}
#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border-color: #f7c08a;
}
